// Copyright (c) 2022 Akihiro Yamamoto.
// Licensed under the MIT License <https://spdx.org/licenses/MIT.html>
// See LICENSE file in the project root for full license information.
//
#pragma once
#include <string>

// ここは機微情報アブナイアブナイ
// vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
// Wifi
std::string_view WIFI_SSID{"************"};
std::string_view WIFI_PASSWORD{"********"};
// AWS IoT Core
std::string_view AWS_IOT_DEVICE_ID{"m5-WiSUN"};
std::string_view AWS_IOT_ENDPOINT{
    "*************************************.amazonaws.com"};
std::string_view AWS_IOT_ROOT_CA{R"(
-----BEGIN CERTIFICATE-----
MIIDQT**********************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************
-----END CERTIFICATE-----
)"};
std::string_view AWS_IOT_CERTIFICATE{R"(
-----BEGIN CERTIFICATE-----
MIIDWT**********************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
************************************************************
-----END CERTIFICATE-----
)"};
std::string_view AWS_IOT_PRIVATE_KEY{R"(
-----BEGIN RSA PRIVATE KEY-----
MIIEog**********************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************
-----END RSA PRIVATE KEY-----
)"};
// Bルート接続文字列
constexpr std::string_view BPASSWORD{"************"};
constexpr std::string_view BID{"********************************"};
// アブナイアブナイ
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
